
**/*.gen
**/ip/

**/*.log

*.orig

*.swp



## Xcelium/sim
xcelium.d*
**/.icflow/sim/*
.simvision
waves.shm
xrun.*

## HDL Tools
.generated/
generated/
.rtl
outputs
hw/
.outputs

## Python
sw/dist
**/.venv
**/__pycache__
**/*pycache*

## Docs
.icflow
.$*
docs/site

## vendor things
*.tar.gz
